   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h4 class="white-text">IBlogs</h4>
                  <h5>Our Address</h5>
                <p class="grey-text text-lighten-4">Vijay Nagar</p>
                  <p class="grey-text text-lighten-4">Indore, Madhya Pradesh</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>

                    <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>Youtube</li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>


                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">

            <a class="grey-text text-lighten-4 right" href="#!">  </a>
            </div>
          </div>
        </footer>